<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Room Not Found</title>
  <link rel="stylesheet" href="{{static "style.css"}}">
</head>
<body>
     <div class="container"></div>
  <h1>Room not found</h1>
  <p>This room does not exist, or may have expired.</p>
  <a href=".." style="color:blue">Return to the homepage</a>
   </div>
  <footer>
    <a href="/privacy">Privacy Policy</a>
    <span>·</span>
    <a href="/terms">Terms of Service</a>
    <span>·</span>
    <span>&copy; 2026 Vixac Ltd</span>
  </footer>
</body>
</html>