<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dice Room {{.ID}}</title>
  <link rel="stylesheet" href="{{static "style.css"}}">
  <script>const ROOM_ID = "{{.ID}}";</script>
  <script>const HOST_PREFIX = "{{.HostPrefix}}";</script>
  <script src="{{static "app.js"}}" defer></script>
</head>
<body>
  <div class="container"></div>
  <a href=".." style="color:blue";>Home</a>
  <h1>Room: {{.RoomName}}</h1>
    {{ if .UserName }}
    <h2>Welcome {{.UserName}}</h2>
    <!-- Roll form -->
    <form method="post" action="">
      <input type="hidden" name="action" value="roll">
       <input type="hidden" name="username" value="{{.UserName}}">
      <input type="text" name="desc" placeholder="What is this roll for? (optional)">
      <div class="dice-select">
        <label for="dice">Choose dice:</label>
<select id="dice" name="dice">
  <option value="d20" {{if eq .SelectedDice "d20"}}selected{{end}}>d20</option>
  <option value="d4"  {{if eq .SelectedDice "d4"}}selected{{end}}>d4</option>
  <option value="d6"  {{if eq .SelectedDice "d6"}}selected{{end}}>d6</option>
  <option value="d8"  {{if eq .SelectedDice "d8"}}selected{{end}}>d8</option>
  <option value="d10" {{if eq .SelectedDice "d10"}}selected{{end}}>d10</option>
  <option value="d12" {{if eq .SelectedDice "d12"}}selected{{end}}>d12</option>
  <option value="d100" {{if eq .SelectedDice "d100"}}selected{{end}}>d100</option>
</select>
 <div class="spacer"></div>
<button type="submit">Roll Dice</button>
        </div>
      
    </form>
      <h2>Rolls</h2>
<ul id="log">
  {{range .Log | reverse}}
    <li class="log-entry">
      {{if .Desc}}
        <div class="desc">{{.Desc}}</div>
      {{end}}
      <span class="username" data-name="{{.User}}">{{.User}}</span>
      <span class="meta"> rolled a </span>
      <span class="dice" data-dice="{{.Dice}}">{{.Dice}}</span>
      <span class="meta"> = </span>
      <span class="result">{{.Result}}</span>
      <span class="time">{{.Time}}</span>
    </li>
  {{end}}
</ul>
  {{ else }}
    
         <!-- Join form -->
    <form method="post" action="">
      <input type="hidden" name="action" value="join">
      <input type="text" name="name" placeholder="Enter your name" required>
      <button type="submit">Enter Room</button>
    </form>

  {{ end }}

   </div>
</body>


</html>